Django==5.1.1
gunicorn==23.0.0
whitenoise==6.8.0
dj-database-url==2.2.0
psycopg[binary]==3.2.1
networkx==3.3
python-tsp==0.2.1
tsplib95==0.7.1
numpy==1.24.4
requests==2.32.3
tzdata==2024.1
setuptools==75.1.0
wheel==0.44.0
